@charset "UTF-8";

.box1{
  display: table;
  width: 100%;
  margin-top: 50px;
}

.main-area .box1:first-child{
  margin-top: 0;
}

.unit-box{
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.red--box{
  width: 300px;
  background: #ff7b7b;
}

.blue--box{
  background: #7b86ff;
}

.yellow--box{
  width: 300px;
  background: #fff27b;
}

.green--box{
  background: #7bff91;
}

.pink--box{
  width: 400px;
  background: #ff7be2;
}

.orange--box{
  width: 400px;
  background: #ffc67b;
}

.light--blue--box{
  background: #7bf2ff;
}